name: MiniPlaceholders Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: 'temurin'
        cache: 'gradle'

    - name: Build with Gradlev2.4.1
      uses: nick-invision/retry@v2.4.1
      with:
        timeout_minutes: 4
        max_attempts: 2
        command: gradle build
